<div class="card" style="width: 23rem;">
  <div class="card-body" style="height: 35rem;">
    <h4 class="card-title">{{@title}}</h4>
    <div class="container">
      <div class="row">
        <div class="col-8 input-group mb-3">
          <input type="text" name="query"
                 value="" class="form-control"
                 placeholder="Search country" {{on "input" this.change}}>
        </div>
        <div class="col-4">
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Sort By
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="scrollClass" style="height: 27rem;">
      <ul class="list-group list-group-flush" >
        {{#each this.countries as |country|}}
          <div class="list-group-item container">
            <div class="row">
              <h5 class="col-9">{{country.country}}</h5>
              <div class="col-3">
                <div class="text-left text-primary little-bages">
                  + {{country.todayCases}} Cases
                </div>
              </div>
            </div>
            <div class="row">
              <p class="col-9 card-text" style="font-size: .8rem;">
                <span class="text-primary"> {{country.cases}} cases </span> &
                <span class="text-danger"> {{country.deaths}} Deaths</span>
              </p>
              <div class="col-3">
                <div class="text-left text-danger little-bages">
                  + {{country.todayDeaths}} Deaths
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
